# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# JavaScript dependencies and build output
frontend_webapp/node_modules/
frontend_webapp/dist/

# IDE stuff
.idea/
.vscode/

# Logs
logs/
*.log

# Local data
data/
*.sqlite3
*.sqlite
*.db

# Other
.DS_Store
*.cache
